In [17]:
import pandas as pd
import util as utils
import os

In [18]:
# load file config
config = utils.load_config()

In [9]:
# fungsi untuk konversi XLXS menjadi CSV hanya pada sheet tertentu saja
def xlsx_to_csv(input_file, output_folder):
    # membuat folder jika belum ada
    if not os.path.exists(output_folder):
        os.mkdir(output_folder)
        print(f"Folder '{output_folder}' berhasil dibuat")
        
    # baca isi file excel
    xls = pd.ExcelFile(input_file)
    
    # loop melalui setiap sheet dan konversi menjadi CSV
    for sheet_name in xls.sheet_names:
        # Baca sheet ke dalam DataFrame
        df = pd.read_excel(xls, sheet_name)
        
        # tentukan nama file CSV output di dalam folder
        output_file = os.path.join(output_folder, f'{sheet_name}.csv')
        
        # konversi DataFrame ke CSV
        df.to_csv(output_file, index=False)
        print(f"File {output_file} berhasil dibuat")

In [12]:
# konfigurasi parameter untuk method xlsx_to_csv
input_file = config['dataraw_path']
output_folder = '../data/processed'

# menjalankan method xlsx_to_csv
dataset = xlsx_to_csv(input_file, output_folder)

File ../data/processed/peserta.csv berhasil dibuat

In [20]:
# read dataset 
def read_data(return_file=True):
    
    # read data
    dataset = pd.read_csv(config['dataset'])
    
    # Dump pickle
    utils.pickle_dump(dataset, config['dataset_df'])
    
    if return_file:
        return dataset

In [21]:
data_df = read_data()

In [22]:
data_df

       Nama    NIM             Prodi
0     Alice  21001       Informatika
1       Bob  21002       Informatika
2   Charlie  21003       Informatika
3     David  21004       Informatika
4       Eve  22001  Sistem Informasi
5     Frank  22002  Sistem Informasi
6     Grace  22003  Sistem Informasi
7     Helen  23001        Matematika
8      Ivan  23002        Matematika
9      Jack  23003        Matematika
10     Kara  24001            Fisika
11     Liam  24002            Fisika
12     Mila  24003            Fisika
13     Nina  24004            Fisika
14    Oscar  25001           Biologi
15     Paul  25002           Biologi
16    Quinn  25003           Biologi
17     Ryan  25004           Biologi
18   Sophia  25005           Biologi
19     Tina  25006           Biologi